@import "tailwindcss";

@theme {
    --font-sans: 'Lato', sans-serif;
    --font-serif: 'Playfair Display', serif;

    --color-rose-50: #fff1f2;
    --color-rose-100: #ffe4e6;
    --color-rose-200: #fecdd3;
    --color-rose-300: #fda4af;
    --color-rose-400: #fb7185;
    --color-rose-500: #f43f5e;
    --color-rose-gold: #c5837c;
    /* Custom Elegant Rose Gold */
    --color-rose-gold-light: #e6b8b3;
    --color-rose-gold-dark: #a8655f;
}

body {
    background-color: #fafafa;
    /* Soft off-white */
    color: #1e293b;
    /* Slate 800 */
}